
/** ADD YOUR AWESOME CODES HERE **/

#about-img {
  width: 40rem; 
  height: 30rem; 
  object-fit: cover;
  object-position: 25% 25%; 
}

.services-inner-box {
  height: 18rem;
}
/* 
#home, .main-banner, .parallaxie{
  position:relative;
  background-color: #333333;
  display: flex;
  justify-content: center;
  height: 20rem;
} */
/* 
.heading {
  position:absolute;
  z-index:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.heading {
  background-color: #333333;
  /* background-color: #333333; */
}

.particlehead {
  position:relative;
}